body {
    background: rgb(255,178,178);
    background: linear-gradient(90deg, rgba(255,178,178,1) 0%, rgba(255,55,55,0.38139005602240894) 33%, rgba(0,212,255,1) 100%);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


